<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>Flask City - {{ title }}</title>
    {% else %}
    <title>Flask City - no flasks here</title>
    {% endif %}
  </head>
  <body>
    <div>
      Microblog: <a href="/">Home</a> <a href="/login">Login</a>
    </div>
    <hr />
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
